.footer {
  background-color: $footer-bg-color;
  padding: 60px 0;
}
// .footer-container {
//   display: flex;
//   align-items: baseline;
// }
.footer__tablet {
  margin-bottom: 60px;
}
// .footer__nav {
//   margin-right: 70px;
// }
.join-networks {
  width: 206px;
  margin: auto;
}
.join-networks__text {
  @include font (14px,700,1.14);
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
}
