.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $primary-white-color;
  border-bottom: 1px solid $border-header-line;
}

.open-mob-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color:$accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}