.logo {
  font-family: 'Raleway', sans-serif;
  @include font (24px,700,1.17);
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    @include font (26px,700,1.19);                        
  }
}
.header__logo {
  padding: 24px 0;
  margin-right: 93px;
  span {
    color: $primary-black-color
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }
}
.footer__logo {
margin-bottom: 20px;
  span {
    color: $primary-white-color;
  }
}

