.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color:$backdrop-bg-color;
  opacity: 1;
  transition: opacity $duration $timing-function, visibility $duration $timing-function;

  &.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  }
  &.is-hidden.modal {
  opacity: 0;
  transform: scale(0.5) translate(-50%, -50%);
}
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: opacity $duration $timing-function, transform $duration $timing-function;
}
.modal__title{
  @include font (20px,700,1.15);
  text-align: center;
  margin-bottom: 12px;
}
