.team {
  background-color: $team-bg-color;
}
.team__member {
  @include font (16px,500,1.19);
  text-align: center;
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $secondary-text-color;
  margin-bottom: 16px;
}
.team__list {
  display: flex;
}
.team__item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 368px;

  &:not(:last-child){
  margin-right: 30px;
}
}
.team__description {
  padding: 30px 32px;
}