.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.container--header { 
  @media screen and (max-width: 767.98px) {
    position: relative;
    height: 60px;
  }
  height: 80px;
  @include flex ($jc:null);
}
.container--footer {
  text-align: center;

  @media screen and (min-width: 1200px) {
    @include flex($ai:baseline,$jc:null);
    text-align: left;
  }
}
.container--hero{
  @include flex ();
  flex-direction: column;
}