.nav {
  @include flex ($jc:null);
}
.nav__list {
  @include flex ($jc:null);
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  color: $main-text-color;
  @include font (14px,500,1.14);
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
  color: $accent-color;
  }
  &--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height:4px;
  background-color: $accent-color;
  border-radius: 2px;
}
}