.social {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
  
  &:not(:first-child) {
    margin-left: 10px;
  }
  }

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @include flex ();
  background-color: $primary-white-color;
  color: #afb1b8;
  transition: color $duration $timing-function,background-color $duration $timing-function;
  
  &:hover,
  &:focus {
  color: $primary-white-color;
  background-color:$accent-color;
  }
  &--white {
  background-color: rgba(255, 255, 255, 0.1);;
  color: $primary-white-color ;
  transition: background-color $duration $timing-function;
  }
}
.social__icon {
  fill: currentColor;
}

