.section__title {
  @include font (36px,700,1.17);
  text-align: center;
  margin-bottom: 50px;
}
.features__title {
  @include font (14px,700,1.14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.duties__title {
  position: absolute;
  left: 0;
  bottom: 0;
  @include font (14px,700,1.14);
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  @include flex ();
  color: $primary-white-color;
  background-color:$duty-title-bg-color;
}
.project__title {
  @include font (18px,700,2);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}