  $main-text-color: #212121;
  $secondary-text-color: #757575;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $primary-black-color: #000000;
  $team-bg-color: #f5f4fa;
  $duty-title-bg-color:rgba(47, 48, 58, 0.8);
  $footer-bg-color: #2f303a;
  $footer-link-color: rgba(255, 255, 255, 0.6);
  $selection-color-hero-btn: #188ce8;
  $border-header-line: #ececec;
  $border-portfolio-card: #eeeeee;
  $portfolio-card-bg-overlay:rgba(33, 150, 243, 0.9);
  $backdrop-bg-color:rgba(0, 0, 0, 0.2);
  $duration:250ms;
  $timing-function:cubic-bezier(0.4, 0, 0.2, 1);